# Visual Studio
.vs/
.vscode/
bin/
obj/
*.exe
*.pdb
*.user
*.suo

# Jetbrains
.idea/

# vuepress
node_modules
.temp
.cache
dist

*.lck
# ruby
*.path_progress

# rust
target/

# scala
cache/

# java
*.manifest
debug/
*.class
